.side-bar
  .side-bar__status
    .side-bar__status__detail
      .side-bar__status__detail__name
        = current_user.name
      .side-bar__status__detail__icons
        .ui.animated.fade.button
          = link_to new_post_path do
            .visible.content
              新規投稿
            .hidden.content
              ここを
              %br クリック
        .ui.animated.fade.button
          = link_to edit_user_path(current_user) do
            .visible.content
              アカウント
              %br 管理
            .hidden.content
              ここを 
              %br クリック
  .side-bar__book-list
    投稿一覧
  - @posts.each do |post|
    = link_to post_path(id: post.id), class: "side-bar__book-list__detail" do
      %p
        = post.title




  -# = link_to post_path(id: @posts.ids), class: "side-bar__book-list__detail" do
  -#   - @posts.each do |post|
  -#     %p
  -#       = post.title