.side-bar
  .side-bar__status
    .side-bar__status__detail
      .side-bar__status__detail__name
        = current_user.name
      .side-bar__status__detail__icons
        = link_to new_post_path, class: "side-bar__status__detail__icons__btn side-bar__status__detail__icons__btn--send" do
          = icon('far fa-edit', class: "side-bar__status__detail__icons__btn--icon")
        = link_to edit_user_path(current_user), class: "side-bar__status__detail__icons__btn side-bar__status__detail__icons__btn--cogs" do
          = icon('fas fa-cog', class: "side-bar__status__detail__icons__btn--icon")
  .side-bar__book-list
    教材一覧
  = link_to "#", class: "side-bar__book-list__detail" do
    大学への数学