.wrapper
  = render "side_bar"

.main-message
  .main-message__tag-search
    = form_tag('/search', method: :get, class: 'main-message__tag-search__search-form') do
      %input.search-form__input{name: "keyword", placeholder: " 検索したい投稿を入力", type: "text", value: ""}
      %button.btn-search{title: "検索", type: "submit"}
        = icon('fas fa-search', class: "main-message__tag-search__search-form__icon")
  .main-message__contents
    = render @post
    .o3comments
      %h4
        ＜コメント一覧＞
        - @comments.each do |comment|
          %p
            -# = link_to posts_path do
            = comment.user.name
            = comment.text
            = image_tag comment.image.url, class: 'o3o3' if comment.image.present?
            
  .main-message__commentCreate
    ＜コメント入力＞
    - if current_user
      = form_with model: [@post, @comment], local: true do |f|
        = f.text_field :text, class: 'nm__o3comfield'
        .nm__o3base
          = f.label :image, class: 'nm__o3base__maskImage' do
            = icon('fas', 'camera', class: 'nm__o3base__maskImage__miIcon')
            = f.file_field :image, class: 'nm__o3base__maskImage__hidden'
        = f.submit "コメントする", class: "ui inverted green basic button"
    - else
      %strong
        %p
          ※※※ コメントの投稿には新規登録/ログインが必要です ※※※



        -# = f.label :image, class: 'new_message__mask__image' do
        -#   = icon('fas', 'image', class: 'new_message__mask__image__icon')
        -#   = f.file_field :image, class: 'new_message__mask__image__hidden'
